.idea

StronglyConnectedComponents/target

StronglyConnectedComponents/.idea

StronglyConnectedComponents/StronglyConnectedComponents.iml

StronglyConnectedComponents/data pipeline script/venv/

StronglyConnectedComponents/src/main/resources/SCC.txt

StronglyConnectedComponents/.jython_cache/

*/target

*/.idea

*/*.iml
